.reality{
    align-items: center;
    text-align: center;
    position: absolute;
    width: 77%;
    height: 100%;
    top: 50%;
    left: 85%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    color: white;
  }
  .damn{
    bottom:50px;
    left:599px;
    position:absolute;
  }
  .dam{
    bottom:50px;
    left:599px;
    position:absolute;
  }
  